<ion-view title="CreateAccount">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">firstname</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">lastname</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">email</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Confirm password</span>
                <input type="password" placeholder="">
            </label>
        </form>
        <a ui-sref="profile" id="createAccount-button4" class="button button-positive  button-block">Register</a>
    </ion-content>
</ion-view>