<ion-view title="Edit Profile">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">firstname</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">lastname</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">old password</span>
                <input type="password" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">new password</span>
                <input type="password" placeholder="">
            </label>
            <a ui-sref="profile" id="editProfile-button6" class="button button-positive  button-block">Save</a>
        </form>
    </ion-content>
</ion-view>