<ion-view title="Login">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Login</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" placeholder="">
            </label>
        </form>
        <a ui-sref="profile" id="login-button1" class="button button-positive  button-block">Login</a>
        <a ui-sref="createAccount" id="login-button2" class="button button-positive  button-block">Create account</a>
    </ion-content>
</ion-view>